body {
  margin-left: 1%;
  margin-bottom: 1%;
  background-color: aquamarine;
}
.computerComponent {
  margin-left: 1%;
}
.largeCheckbox {
  width: 20px;
  height: 20px;
}
.app {
  display: none;
}
.navbar {
  margin-left: -1%;
  margin-bottom: 0.2%;
  font-size: large;
  background-color: blueviolet;
}
.btn {
  color: white;
  font-size: large;
  background-color: blueviolet;
}